{% extends "base.html" %} {% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
    <div class="card bg-white shadow-xl w-full max-w-md">
        <div class="card-body p-8">
            <h2 class="text-2xl font-semibold text-blue-600">Password Berhasil Diubah</h2>
            <p class="mt-4 text-gray-700">Password Anda telah berhasil diperbarui. Silakan login dengan password baru Anda.
                
            </p>
            <a href="{% url 'login' %}" class="btn btn-link ">Kembali ke halaman login</a>
        </div>
    </div>
</div>
{% endblock %}
