{% extends "base.html" %} {% block content %} {% include "shop/header.html" %}
<main>
    {% include "alert.html" %}
    <div class="grid grid-cols-2 gap-2 p-2 pb-16">
        {% for obj in page_obj %}
        <section>
            <div class="card bg-base-100 shadow-sm h-full bg-gray-50">
                <figure>
                    <img
                        class="w-full h-32 object-cover"
                        src="{{ MEDIA_URL }}{{ obj.image.path|default:'no_image.png' }}"
                        alt="{{ obj.name }}"
                    />
                </figure>
                <div class="card-body flex flex-col justify-between">
                    <div>
                        <h2 class="font-bold line-clamp-2 min-h-[3rem]">
                            {{ obj.name }}
                        </h2>
                        <p class="text-primary text-lg">Rp. {{ obj.price }}</p>
                    </div>
                    <div class="card-actions justify-center mt-auto">
                        <form method="post" action="{% url 'add_to_cart' %}">
                            {% csrf_token %}
                            <input
                                type="hidden"
                                name="product_id"
                                value="{{ obj.id }}"
                            />
                            <button
                                class="btn btn-primary btn-sm truncate"
                                type="submit"
                            >
                                Tambah ke keranjang
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
    <div
        class="fixed w-full p-4 text-white font-bold bottom-0 left-0 bg-primary flex justify-around items-center"
    >
        {% if page_obj.has_previous %}
        <!-- Tombol Previous aktif -->
        <a
            href="?page={{ page_obj.previous_page_number }}"
            class="btn btn-ghost text-lg font-bold p-1 inline-flex items-center justify-center"
        >
            {% include "icons/previous.html" %}
        </a>
        {% else %}
        <!-- Tombol Previous disabled -->
        <span
            class="btn btn-disabled text-white opacity-50 text-lg font-bold p-1 inline-flex items-center justify-center opacity-50 cursor-not-allowed"
        >
            {% include "icons/previous.html" %}
        </span>
        {% endif %}

        <div class="text-lg">
            {% for number in page_range %} {% if number == "..." %}
            <span class="m-1">...</span>
            {% else %}
            <a
                href="?page={{ number }}"
                class="inline-block btn btn-ghost text-lg font-bold p-1 rounded-full {% if request.GET.page|stringformat:'s' == number|stringformat:'s' %} btn-active {% elif number == 1 and not request.GET.page %} btn-active {% endif %}"
            >
                {{ number }}
            </a>
            {% endif %} {% endfor %}
        </div>

        {% if page_obj.has_next %}
        <!-- Tombol Next aktif -->
        <a
            href="?page={{ page_obj.next_page_number }}"
            class="btn btn-ghost text-lg font-bold p-1 inline-flex items-center justify-center"
        >
            {% include "icons/next.html" %}
        </a>
        {% else %}
        <!-- Tombol Next disabled -->
        <span
            class="btn btn-disabled text-white text-lg font-bold p-1 inline-flex items-center justify-center opacity-50 cursor-not-allowed"
        >
            {% include "icons/next.html" %}
        </span>
        {% endif %}
    </div>
</main>
{% endblock content %}
